@import url('https://rsms.me/inter/inter.css');

:root {
    --main-color: #0028FF;
  }


html body {
    padding: 0;
    margin: 0;
    color: #293033;
    font-family: 'Inter';
    box-sizing: border-box;
  }


div h1{
    font-weight: 500;
    font-size: 36px;
    letter-spacing: -1px;
    margin-bottom: 24px;
    line-height: 48px;
}
div h2{
    font-weight: 500;
    font-size: 24px;
    letter-spacing: -1px;
    line-height: 36px;
}
 
div h3{
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: -1px;
    color: #293033;
}

  /*--- navigation bar ---*/
  nav a.logo{
    text-decoration: none;
    color:#1B1D24;
    font-weight: 800;
    font-size: 27px;
    letter-spacing: -0.2px;
  }

  nav a.logo:hover{
    color: var(--main-color);
  }
  
  nav a.nav-link{
    font-size: 11px;
    font-weight: 600;
    cursor: pointer;
    font-weight: bold;
    font-size: 13px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #26324C !important;
    margin: 40px 0 0 0 ;
  }

  nav li.nav-item{
    display: block;
    padding-right: 20px;
  }

  nav a.nav-link:hover {
    color: var(--main-color) !important;
  }

  div.navbar-collapse {
    justify-content: flex-end;
  }

  button.btn.btn-primary{
      background-color: var(--main-color) !important;
      border-color: var(--main-color) !important;
      font-weight: bold;
      font-size: 13px;
      line-height: 24px;
      align-items: center;
      text-align: center;
      letter-spacing: -0.2px;
      width: 142px;
      border-radius: 2px;
      margin: 40px 0px 40px 56px;
  }

  button.btn.btn-primary:hover{
      background-color: #ffffff !important;
      border-color: var(--main-color) !important;
      color: var(--main-color);
}

.baner{
    height: 638px;
    background-image: url("cover_photo_desktop@2x.png");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.under-baner{
    padding: 120px 55px 180px 55px;
    background-image: url("symbol_letter_S@1x.png");
    background-repeat: no-repeat;
    background-position: center;
    background-color: #F4F4F5;
    margin-bottom: 160px;
    margin-top: -28px;
}
.icons {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.icons .icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-bottom: 30px;
    width: 50px;
    height: 50px;
    background: #ffffff;
    box-shadow: 0px 0px 24px rgba(38, 51, 77, 0.08), 2px 2px 6px rgba(38, 50, 76, 0.04);
}
.icons .icon:hover {
    background: var(--main-color);
}
.icons .icon:hover i {
    color: white;
}
.icons .icon i.rotate {
    transform: rotate(90deg);
}

/* Description under banner */
.description-jrpasss{  
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.7px;
    color: #52636F;
    margin-bottom: 120px;
}

.challenge{
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: -0.3px;
    color: #52636F;
    margin-top: 40px;
}

.subheading{
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 16px;
    text-align: right;
    text-transform: uppercase;
    color: #6C869A;
    margin-bottom: 8px;
}

.heading{
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    text-align: right;
    letter-spacing: -0.7px;
    color: #293033;
}

.location{
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    text-align: right;
    letter-spacing: -0.3px;
    color: #52636F;
    margin-bottom: 80px;
    margin-top: -15px;
}
.scope{
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    text-align: right;
    letter-spacing: -0.2px;
    color: #0028FF;

}

.prev{
position: absolute;
left: 354px;
top: 567px;
}
.next{
    position: absolute;
    left: -245px;
    top: 567px;
}
.carousel{
    margin-bottom: 160px;
}

/* Under gallery */
.under-gallery{
    background-image: url("symbol_letter_apostrophe@2x.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size:11%;
    background-color: #F4F4F5;
    margin-bottom: 40px;
}

.text-under-gallery{
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.7px;
    padding: 120px 0px 0px 0px;
}

.personal-data{
    display: inline;
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
    align-items: center;
    letter-spacing: -0.3px;
    position: relative;
}

.icon-linkedin{
    position: absolute;
    left: 121px;
    top: -2px;
}

.caption{
    position: absolute;
    left: 105px;
    top: 58px;
    font-weight: 500;
    font-size: 13px;
    line-height: 24px;
    letter-spacing: -0.1px;
    color: #6C869A;
}

 .hire-developer{
    background-image: url("Fill\ 1.png");
    background-color: var(--main-color);
    background-repeat: no-repeat;
    background-position: center;
 }

 .looking-developer{
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    align-items: center;
    letter-spacing: -1px;
    color: #FFFFFF;
    margin-top: 80px;
 }

 .under-looking-developer{
     color: white;
     margin-bottom: 80px;
 }

 .btn-hire{
    font-family: Inter !important;
    font-weight: bold !important;
    font-size: 18px !important;
    line-height: 32px !important;
    letter-spacing: -0.3px;
    color: #0028FF;
    background-color: white !important;
    width: 257px;
    border-radius: 2px !important;
 }

 .jrpass{
    font-weight: 500;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: -1px;
    padding: 120px 0 60px 0;
    
 }

 .network-of-talent{
    background-color: #F4F4F5;
 }

 .jrpass-text{
    color: #6D7880;
 }

 .cubes{
     margin: 0 auto;
     text-align: center;
     margin-bottom: 60px;
 }
 .cube{
    width: 272px;
    height: 120px;
    margin: 0 40px 0 40px;
    background-color: var(--main-color);
    display: inline-block;
    position: relative;
 }

 .icon-img{
    position: absolute;
    right: 120px;
    top:24px;
}

.cube-text{
    font-weight: 600;
    font-size: 13px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #FFFFFF;
    position: absolute;
    top: 72px;
    width: 272px;
    text-align: center;
}

.btn-services{
    font-weight: bold !important;
    font-size: 13px !important;
    line-height: 24px !important;
    letter-spacing: -0.2px;
    color: var(--main-color) !important;
    border: 2px solid #0028FF !important;
    border-radius: 2px !important;
    background-color: white !important;
    width: 167px;
    margin-bottom: 80px;
}

.btn-services:hover{
    color: white !important;
    background-color: var(--main-color) !important;
}

@media (min-width: 427px){
    h1 br 
    { 
       display: none;
    }
    .jrpasss-color{
        color: #293033;
    }
}
@media (max-width: 769px){
    .prev{
        position: absolute;
        left: 248px;
        top: 425px;
        }
        .next{
            position: absolute;
            left: -168px;
            top: 424px;
        }
}
@media (min-width: 768px) and (max-width: 1028px){
    nav a.nav-link{
        font-size: 11px;
      }
    
      nav li.nav-item{
        display: block;
        padding-right: 5px;
      }
      button.btn.btn-primary{
        margin: 40px 0px 10px 0px;
    }
    div#main-navigation{
        margin: -26px -19px 0px 0;
    }
}
@media (max-width: 426px){
    .logo{
        margin: 44px 0 44px 36px;
    }

    .navbar-toggler{
        margin: 44px 35px 44px 0;
    }
    .navbar-nav{
        text-align: center;
    }
    .nav-item-last{
        margin-left: -60px;
    }
    .baner{
        background-image: url("cover_photo_mobile@1x.png");
        background-position: center;
        background-repeat: no-repeat;
    }

    .under-baner{
        background-image: url("symbol_letter_apostrophe@2x.png");
        background-size: 35%;
        background-position: center;
        padding: 82px 35px 80px 36px;
    }

    .description-under-baner{
        display: flex;
    }
    .description-jrpasss{
        order: 1;
        margin: 0 35px 120px 36px;
    }
    .challenge{
        order: 2;
        margin: 0 35px 0 36px;
    }
    .info-client{
        order: 3;
        margin: 80px 35px 0 36px;
    }
    .carousel{
        order: 4;
    }
    .under-gallery{
        order: 5;
    }
    .icons{
        order: 6;
        flex-direction: row;
    }
    .network-of-talent{
        order:7;
    }
    .section-dev{
        order: 8;
    }
    .looking-developer{
        margin: 40px 35px 40px 36px; 
    }
    .under-looking-developer{
        margin: 40px 35px 40px 36px;
    }
    .btn-hire{
        margin: 0 82px 40px 36px;
        background-color: var(--main-color) !important;
        color: white !important;
        border:  2px solid white !important;
    }
    .icon{
        margin-right: 24px;
    }
    .icons:first-child{
        margin-left: 56px;
    }
    .challenge-header{
        margin-left: 36px;
        margin-bottom: 40px;
    }
   .subheading{
       text-align: left;
   }
   .heading{
    text-align: left;
}
    .location{
    text-align: left;
    margin-bottom: 40px;
}
    .scope{
    text-align: left;
}

.text-under-gallery{
    margin: 0px 35px 32px 36px;
}
.jrpass{
    margin-left: 36px;
    margin-right: 35px;
}
.jrpasss-color{
    color: var(--main-color)
}
.cube{
    margin-bottom: 24px;
}
.cube:last-child{
    margin-bottom: 0px;
}
.cubes{
    margin-bottom: 40px;
}

.prev {
    position: absolute;
    left: 118px;
    top: 254px;
}
.next {
    position: absolute;
    left: -97px;
    top: 254px;
}
}